<app-navbar [pageName]="'Favourite details'"></app-navbar>
<ion-content>
  <ion-card>
    <ion-card-header><ion-card-title>Year: {{ favourites.year}}</ion-card-title></ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let movie of favourites.movies">
          <ion-label>{{movie.title}}</ion-label>
          <ion-icon name="trash-outline" (click)="deleteMovie(movie)"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <div class="ion-padding" *ngIf="moviesToAdd">
    <hr>
    <h5>Movies not on this list</h5>
    <ion-list>
      <ion-item *ngFor="let movieToAdd of moviesToAdd; let i = index">
        <ion-label>
          {{i + 1}}
        </ion-label>
        <ion-label>{{ movieToAdd.title }}</ion-label>
        <ion-icon name="add-circle" (click)="addMovie(movieToAdd)"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer>
  <ion-button expand="block" (click)="saveFavourites()">Save</ion-button>
  <ion-button expand="block" color="secondary" (click)="goToList()">Back to favourites</ion-button>
</ion-footer>
