<app-navbar [pageName]="'Login'"></app-navbar>

<ion-content>
    <div class="form-wrapper">
        <form>
            <ion-item>
                <ion-label>Username</ion-label>
                <ion-input [(ngModel)]="loginData.email" name="email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Password</ion-label>
                <ion-input type="password" [(ngModel)]="loginData.password" name="password"></ion-input>
            </ion-item>
            <ion-button (click)="logIn()">Log in</ion-button>
        </form>
    </div>
</ion-content>
