<app-navbar [pageName]="'Movies'"></app-navbar>
<ion-content>
    <ion-list *ngIf="movies">
        <ion-item *ngFor="let movie of movies.entities; let i = index">
            <ion-label>
                {{movie.id}}
            </ion-label>
            <ion-label>{{movie.title}}</ion-label>

            <ion-icon *ngIf="isAuthenticated | async" name="trash-outline" (click)="deleteMovie(movie)"></ion-icon>
            <ion-icon *ngIf="isAuthenticated | async" name="pencil-outline" (click)="editMovie(movie)"></ion-icon>
            <ion-icon name="chevron-forward-outline" (click)="viewMovie(movie)"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
  <nav *ngIf="movies" aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item" *ngFor="let f of movies.firstPages">
        <a [routerLink]="" class="page-link" (click)="getMovies(f)">{{f}}</a>
      </li>

      <li class="page-item disabled" *ngIf="movies.firstPages.length > 0">
        <a [routerLink]="" class="page-link">...</a>
      </li>

      <li class="page-item" *ngFor="let p of movies.previousPages">
        <a [routerLink]="" class="page-link" (click)="getMovies(p)">{{p}}</a>
      </li>

      <li class="page-item active">
        <a class="page-link" [routerLink]="">{{currentPage}}</a>
      </li>

      <li class="page-item" *ngFor="let next of movies.nextPages">
        <a [routerLink]="" class="page-link" (click)="getMovies(next)">{{next}}</a>
      </li>

      <li class="page-item disabled" *ngIf="movies.lastPages.length > 0">
        <a [routerLink]="" class="page-link">...</a>
      </li>


      <li class="page-item" *ngFor="let l of movies.lastPages">
        <a [routerLink]="" class="page-link" (click)="getMovies(l)">{{l}}</a>
      </li>
    </ul>
  </nav>
  <ion-button expand="block" (click)="goToAddMovie()">Add movie</ion-button>
</ion-footer>
